<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">


      <div class="footer-col footer-col-3">
        <a href="https://github.com/EffingKay" target="_blank"><i class="fa fa-github"></i></a> &nbsp; &nbsp; &nbsp;
        <a href="https://www.linkedin.com/in/klaudia-rozgonyiova" target="_blank"><i class="fa fa-linkedin"></i></a> &nbsp; &nbsp; &nbsp;
        <a href="mailto:klaudia@rozgonyiova.com?subject=Hello" target="_blank"><i class="fa fa-envelope-o"></i></a> &nbsp; &nbsp; &nbsp;
        <a href="https://twitter.com/EffingKay" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp; &nbsp; &nbsp;
        <a href="https://codepen.io/EffingKay" target="_blank"><i class="fa fa-codepen"></i></a> &nbsp; &nbsp; &nbsp;
        <br><br>
        &copy; Klaudia Rozgonyiova 2017
      </div>
    </div>

  </div>

</footer>
