@keyframes neonOn {
  0% {
    color: #232323;
    text-shadow: 3px 3px 2px #282828;
  }
  37% {
    color: #232323;
    text-shadow: 3px 3px 2px #282828;
  }
  38% {
    color: $text-color;
    text-shadow: 0 0 25px $brand-color;
  }
  41% {
    color: #232323;
    text-shadow: 3px 3px 2px #282828;
  }
  78% {
    color: #232323;
    text-shadow: 3px 3px 2px #282828;
  }
  80% {
    color: $text-color;
    text-shadow: 0 0 25px $brand-color;
  }
  82% {
    color: #232323;
    text-shadow: 3px 3px 2px #282828;
  }
  84% {
    color: $text-color;
    text-shadow: 0 0 25px $brand-color;
  }
  86% {
    color: #232323;
    text-shadow: 3px 3px 2px #282828;
  }
  99% {
    color: #232323;
    text-shadow: 3px 3px 2px #282828;
  }
  100% {
    color: $text-color;
    text-shadow: 0 0 25px $brand-color;
  }
}
